$radio: url(skin:controls/radio_check_lite.svg);
$radio_disabled: url(skin:controls/radio_check_disabled.svg);
$checkbox: url(skin:controls/checkbox_check_lite.svg);
$checkbox-disabled: url(skin:controls/checkbox_check_disabled.svg);

$font-family: Helvetica, Arial, sans-serif;
$font-size-bigger: 13px;
$font-size-big: 12px;
$font-size-body: 11px;
$font-size-normal: 11px;
$font-size-medium: 9px;
$font-size-small: 8px;
$font-size-extra-small: 7px;
$font-size-qslider-groove: 3px;
$font-size-qslider-handle: 4px;

QTreeView
{
	background-image: url(skin:logo.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}
